$color-danger: #f44336; 
$color-danger-light: #ff6659; // Uma tonalidade mais clara
$color-danger-dark: #d32f2f; // Uma tonalidade mais escura

$color-warning: #ff9800;
$color-warning-light: #ffc947; // Uma tonalidade mais clara
$color-warning-dark: #c66900; // Uma tonalidade mais escura

$color-success: #4caf50; 
$color-success-light: #80e27e; // Uma tonalidade mais clara
$color-success-dark: #087f23; // Uma tonalidade mais escura

$color-white: #ffffff; 
$color-white-light: #ffffff; // Branco puro
$color-white-dark: #dbe6ed;// Uma tonalidade mais escura


$color-primary: #445669;
$color-primary-light: #2c3e50;
$color-primary-dark: #1e2a38;

$color-secondary-light: #4a99d6;
$color-secondary: #2980b9;
$color-secondary-dark: #1e6b9b;


$color-gray-dark: #323c46;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 1.6rem; */
    line-height: 1.7;
    color: $color-gray-dark;
    box-sizing: border-box;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,  
        rgba($color-primary-light, 0.8),
        rgba($color-secondary-dark, 0.8)), 
        url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo {
    font-size: 2.5rem;
    color: $color-white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}

.header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: movebuttonToTop;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.heading-primary--sub {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1.6rem;
    animation-name: movebuttonToTop;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.btn--default:link,
.btn--default:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.4rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn--default:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn--default:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .2);
}

.btn-link:link,
.btn-link:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.btn-link:hover {
    transform: translateY(-0.2rem);
    font-size: 1.01rem;
}

.btn-link:active {
    transform: translateY(-0.1rem);
    font-size: 1.01rem;
}


.btn--rounded:link,
.btn--rounded:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 10rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
} 

.btn--rounded:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn--rounded:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .2);
}

.btn--semi-rounded:link,
.btn--semi-rounded:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn--semi-rounded:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn--semi-rounded:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .2);
}

.bottomToTopAnimation {
    animation-name: moveBottomToTop;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.btn-link--white {
    color:  $color-white;
}

.btn-link--primary {
    color:  $color-primary;
}

.btn-link--secondary {
    color:  $color-secondary;
}

.btn-link--danger {
    color:  $color-danger;
}

.btn-link--warning {
    color:   $color-warning;
}

.btn-link--success {
    color:  $color-success;
}

.btn--white {
    background-color: $color-white;
    color: $color-gray-dark;
}

.btn--primary {
    background-color: $color-primary;
    color: $color-white;
}

.btn--secondary {
    background-color: $color-secondary;
    color: $color-white;
}

.btn--danger {
    background-color: $color-danger; /* Vermelho mais suave */
    color: $color-white;
}

.btn--warning {
    background-color:  $color-warning; /* Amarelo mais suave */
    color: $color-white;
}

.btn--success {
    background-color: $color-success; /* Verde mais suave */
    color: $color-white;
}

.button-section__btn-wrapper{
    padding: 1rem;
}
.button-section__btn-wrapper > * {
    margin-right: 1.5rem; /* Define o espaçamento entre os elementos */
}

.button-section__text {
    padding: 1rem;
    display: flex;
    text-transform: uppercase;
    align-items: flex-start; /* Ou flex-end ou center, conforme necessário */
}

.btn--small {
    font-weight: 400;
    padding: 0.4rem 2.5rem;
    font-size: 1.4rem;
}

.btn--medium {
    font-weight: 400;
    padding: 1rem 3.5rem;
    font-size: 1.5rem;
}

.btn--large {
    font-weight: 400;
    padding: 1.2rem 4rem;
    font-size: 1.6rem;
}
.btn-link--medium {
    font-size: 1.5rem;
}

.btn-link--large {
    font-size: 1.5rem;
}


.button-section {
    height: 95vh;
    display: flex; /* Torna o container um flex container */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
}


@keyframes moveBottomToTop {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    75% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
