.section-basic-elements {
    // background-color: $color-white-dark;
    padding: 25rem 0;
    margin-top: -10vh;

    &__links {
        margin-bottom: 5rem;
    }

    &__buttons {
        margin-bottom: 4rem;
    }

    &__typographies{
        margin-bottom: 4rem;
    }
}